body {
	margin: 0;
	padding: 0;
	background-color: #006994;
}

p#debug{
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: monospace;
}

div{
	image-rendering: pixelated;
}

.island{
	background-color: #5cb74e;
}

.rock{
	background-color: #726d66;
}

.player{
	background-size:cover;
}

.enemy{
	background-size:cover;
}